{% extends "base_1.html" %}

{% load static %}

{% block body %}

<div class="row" style="background:inherit">
<div class="col-lg-12">
  <nav class="navbar navbar-default bg nav-custom" style="z-index:10">
    <div class="container logout">
      <ul class="nav navbar-nav navbar-left log-bg">
        <li><a href="{% url 'desg_t18:desg_home' %}"><span class="glyphicon glyphicon-home"></span>Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right log-bg">
        <li><a href="http://127.0.0.1:8000/ "><span class="glyphicon glyphicon-user"></span>Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
</div>
<br><br><br>
<div class="row">
  <div class="col-md-12">
      <div class="top-div jumbotron jumb">
      <h2 class="head text-center">DESG Dashboard</h2>
      <form method="get">
        <p>
          <span> <label>From : </label><input type="text" name="from_date" id="from_date"> </span>
          <span> <label> To : </label> <input type="text" name="to_date" id="to_date"> </span>
          <span>
              <label for="track">Select Track:</label>
                <select name="track" id="track">
                  <option value="all" selected="selected">All</option>
                  <option value="desg">DESG</option>
                  <option value="transit">Transit</option>
                </select>
          </span>
          <span><button type="submit" class="btn btn-default btn-primary">Submit</button></span>
        </p>
      </form>
       <br>
        </div>
      <br><br><br><br><br><br><br><br><br>
    <div class="container ">
        <div class="row">
          <div class="col-md-6">
            <h3 class="head center"><b>DESG PC report<b></h3>
              <div class="" url-endpoint="{% url 'desg_t18:desg_dashboard' %}">
                <canvas id="pcChart" width="100%" height="75px"></canvas>
                <br><br>
              </div>
          </div>
          <div class="col-md-6">
             <h3 class="head center"><b>DESG GML report<b></h3>
              <div class="" url-endpoint="{% url 'desg_t18:desg_dashboard' %}">
                <canvas id="gmlChart" width="100%" height="75px"></canvas>
                <br><br>
              </div>
          </div>
        </div>

      </div>
    </div>
</div>
<script>
monthly_desg_pc_report={{monthly_desg_pc_report}};
monthly_desg_gml_report={{monthly_desg_gml_report}};
console.log(monthly_desg_pc_report,monthly_desg_gml_report);


$( function() {
    $( "#track" ).selectmenu();
  } );
$( "#to_date" ).datepicker();
$( "#from_date" ).datepicker();


$.ajax({
  method: "GET",
  success:function(reports){
    labels=labels
    monthly_desg_pc_report=monthly_desg_pc_report
    monthly_desg_gml_report=monthly_desg_gml_report
    console.log(monthly_desg_pc_report,monthly_desg_gml_report);
  },
  error:function(error_data){
    console.log(error_data)
  }
})
var pcChart = document.getElementById("pcChart").getContext('2d');
labels=["PC In Queue", " PC In Progress","PC Completed", "PC On hold", "PC Rejected"]
var desg_pcChart = new Chart(pcChart, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'No. of SAM',
            data: monthly_desg_pc_report,
            backgroundColor: [
                 'Orange',
                '#FFFF00',
                '#00CC00',
                '#996600',
                '#FF0000',
                '#996600'
            ],
            borderColor: [
                 'Orange',
                '#FFFF00',
                '#00CC00',
                '#996600',
                '#FF0000',
                '#996600'
            ],
            borderWidth: 5
        }]
    },
    options: {
       legend:{labels: {fontColor: 'orange'}},
      title: {
            display: true,
            fontColor: 'blue',

        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    fontColor: 'darkblue'

                },
            }],
          xAxes: [{
                ticks: {

                    fontColor: 'darkblue'
                },
            }]
        }

    }
});

var gmlChart = document.getElementById("gmlChart").getContext('2d');
labels=["GML In Queue", "GML In Progress","GML Completed", "GML On hold", "GML Rejected"]
var desg_gmlChart = new Chart(gmlChart, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'No. of SAM',
            data: monthly_desg_gml_report,
            backgroundColor: [
                'Orange',
                '#FFFF00',
                '#00CC00',
                '#996600',
                '#FF0000',
                '#996600'
            ],
            borderColor: [
                'Orange',
                '#FFFF00',
                '#00CC00',
                '#996600',
                '#FF0000',
                '#996600'
            ],
            borderWidth: 1
        }]
    },
    options: {
       legend:{labels: {fontColor: 'orange'}},
      title: {
            display: true,
            fontColor: 'blue',

        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    fontColor: 'darkblue'

                },
            }],
          xAxes: [{
                ticks: {

                    fontColor: 'darkblue'
                },
            }]
        }

    }
});


</script>


{% endblock %}
